@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul-base:#1b357e;
    --branco-secundario:#ffff;
    --azul-strong: rgb(6, 6, 206);
    --cinza-hover:#586981;
}

html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
    }
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    background-color: var(--branco-secundario);
    top: 0;
    position: fixed;
    font-family: Arial, sans-serif;
}
.logo img {
    width: 12rem;
} 
.home_div{
    background-color: var(--branco-secundario);
    width: 38rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}
.home {
    font-family: "Roboto Condensed", serif;
    text-decoration: none;
    color: inherit;
    color: var(--azul-base);
    font-size: 1.7rem;
}
.home:hover {
    border-bottom: 0.5px solid var(--cinza-hover);
    top: 15%;
    transform: translate(0, -15%);
    color: var(--cinza-hover);
}
.invisivel {
    background-color: var(--branco-secundario);
    width: 12rem;
    height: 1rem;
    margin-right: 1%;
}

body main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .Carro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 28rem;
            margin-bottom: 3%;
        }
        .referencia {
            font-size: 1rem;
            font-family: "Roboto Condensed", serif;
            color: var(--azul-base);
            font-weight: bold;
            text-decoration: none;
        }
        p:hover {
            color: var(--cinza-hover);
        }
    }
    .Sobre_voce form {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        input {
            border-radius: 5px;
            width: 20rem;
            height: 2rem;
            margin-bottom: 5%;
            font-size: 1rem;
        }
        h1 {
            font-size: 1.2rem;
            padding-bottom:5% ;
            font-family: "Roboto Condensed", serif;
        }
        select {
            border-radius: 5px;
            width: 20rem;
            height: 2rem;
            font-size: 1.2rem;
            margin-bottom: 4%;
            option {
                width: 20rem;
                height: 2.2rem;
                
            }
        }
        textarea {
            width: 20rem;
            height: 4rem;
          }
        p {
            font-family: "Roboto Condensed", serif; 
            font-size: 1rem;
        }
        .button {
            height: max-content;
            display: flex;
            justify-content: right;
            padding-top: 8%;
            button {
                width: 12rem;
                height: 2.5rem;
                font-size: 1.3rem;
                background-color: var(--azul-base);
                border-radius: 18px;
                font-family: "Roboto Condensed", serif;
                color: var(--branco-secundario);
            }
            button:hover {
                background-color: var(--cinza-hover);
            }
        }
    }
}

footer {
    background-color: var(--azul-base);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    bottom: 0;
    position: fixed;
}
.redes {
    color: var(--branco-secundario);
    display: flex;
    align-items: center;
    margin-left: 1%;

    p {
        display: inline;
        font-family: "Roboto Condensed", serif;
        font-size: 1.2rem;
    }

    img {
        width: 2.5rem;
    }
}
.redes a :hover {
    opacity: 0.5; /*almentar a transparencia da img */
}
.copyright {
    margin-right: 2%;
}

@media (max-width: 1400px) {
    header{
        max-height: 4rem;
    }
    .home_div {
        width: 29rem;
    }
    .home h1 {
        font-size: 1.3rem;
    }
    .logo img {
        width: 8rem;
    } 
    
}

@media (max-width: 1024px) {
    header{
        max-height: 3rem;
    }
    .home_div {
        width: 29rem;
        margin-left: 8%;
    }
    .home h1 {
        font-size: 1.5rem;
    }
    .logo img {
        width: 6rem;
    } 

    body main {
        .Carro img {
            width: 25rem;
        }
        .Sobre_voce {
            input {
                width: 20rem;
                height: 2rem;
                margin-bottom: 5%;
                font-size: 1rem;
            }
            
            h1 {
                font-size: 1.4rem;
                padding-bottom:5% ;
                font-family: "Roboto Condensed", serif;
            }
            form {
                select {
                    width: 20rem;
                    height: 2rem;
                    font-size: 1rem;
                }
            }
            textarea {
                width: 20rem;
                height: 3rem;
              }
            p {
                font-size: 0.9rem;
                padding-top: 4%;
            }
            .button button {
                width: 8rem;
                height: 1.8rem;
                font-size: 1rem;
            }
        }
    }

    footer {
        max-height: 4rem;
    }
    .redes img {
        max-width: 2rem;
    }
    .copyright img {
        max-width: 4rem;
    }
    
}
@media (max-width: 920px) {
    header{
        max-height: 3rem;
    }
    .home_div {
        width: 29rem;
        margin-left: 8%;
    }
    .home h1 {
        font-size: 1.5rem;
    }
    .logo img {
        width: 6rem;
    } 

    body main {
        .Carro img {
            width: 18rem;
        }
        .Sobre_voce {
            input {
                width: 16rem;
                height: 1.5rem;
                margin-bottom: 5%;
                font-size: 0.8rem;
            }
            
            h1 {
                font-size: 1.2rem;
                padding-bottom:5% ;
                font-family: "Roboto Condensed", serif;
            }
            form {
                select {
                    width: 16rem;
                    height: 1.5rem;
                    font-size: 0.8rem;
                }
            }
            textarea {
                width: 16rem;
                height: 2.5rem;
              }
            p {
                font-size: 0.7rem;
                padding-top: 4%;
            }
            .button button {
                width: 8rem;
                height: 1.8rem;
                font-size: 0.9rem;
            }
        }
    }

    footer {
        max-height: 3rem;
    }
    .redes img {
        max-width: 2rem;
    }
    .copyright img {
        max-width: 4rem;
    }
}
@media (max-width: 768px) {
    header{
        max-height: 3rem;
    }
    .home_div {
        width: 29rem;
        margin-left: 8%;
    }
    .home h1 {
        font-size: 1rem;
    }
    .logo img {
        width: 6rem;
    } 
    footer {
        max-height: 3rem;
    }
    .redes img {
        max-width: 2rem;
    }
    .copyright img {
        max-width: 4rem;
    }
}
@media (max-width: 650px) {
    header{
        max-height: 3rem;
    }
    .home_div {
        width: 29rem;
        margin-left: 8%;
    }
    .home h1 {
        font-size: 1rem;
    }
    .logo img {
        width: 6rem;
    } 

    body main {
        display: flex;
        flex-direction: column;
        .Carro {
            padding-bottom: 15%;
            padding-top: 20%;
            img {
                width: 12rem;
            }
        }
        .Sobre_voce {
            input {
                width: 12rem;
                height: 1.2rem;
                margin-bottom: 5%;
                font-size: 0.6rem;
            }
            
            h1 {
                font-size: 1rem;
                padding-bottom:5% ;
                font-family: "Roboto Condensed", serif;
            }
            form {
                select {
                    width: 12rem;
                    height: 1.2rem;
                    font-size: 0.6rem;
                }
            }
            textarea {
                width: 12rem;
                height: 2.2rem;
              }
            p {
                font-size: 0.7rem;
                padding-top: 4%;
            }
            .button {
                padding-bottom: 30%;
                button {
                    width: 6rem;
                    height: 1.5rem;
                    font-size: 0.7rem;
                }
            }
        }
    }

    footer {
        max-height: 3rem;
    }
    .redes img {
        max-width: 2rem;
    }
    .copyright img {
        max-width: 4rem;
    }
}
@media (max-width: 375px) {
    header{
        max-height: 3rem;
    }
    .home_div {
        width: 29rem;
        margin-left: 8%;
    }
    .home h1 {
        font-size: 1rem;
    }
    .logo img {
        width: 6rem;
    } 
    .invisivel {
        width: 4rem;
    }

    body main {
        display: flex;
        flex-direction: column;
        .Carro img {
            width: 15rem;
            padding-bottom: 10%;
        }
        .Sobre_voce {
            input {
                width: 15rem;
                height: 1.5rem;
                margin-bottom: 5%;
                font-size: 0.8rem;
            }
            
            h1 {
                font-size: 1.2rem;
                padding-bottom:5% ;
                font-family: "Roboto Condensed", serif;
            }
            form {
                select {
                    width: 15rem;
                    height: 1.5rem;
                    font-size: 0.8rem;
                }
            }
            textarea {
                width: 15rem;
                height: 2.5rem;
              }
            p {
                font-size: 0.9rem;
                padding-top: 4%;
            }
            .button {
                button {
                width: 9rem;
                height: 2rem;
                font-size: 1rem;
                }
            }
        }
    }

    footer {
        max-height: 3rem;
    }
    .redes {
        img {
            max-width: 2rem;
        }
        p {
            display: none;
        }
    }
    .copyright img {
        max-width: 4rem;
    }
}